/* Flexbox */
.container {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	/* padding-top: 10px; */
	/* padding-bottom: 10px; */
	font-size: 20pt;
}

.container>div{
	/* width: 100px; */
	/* flex-basis: 250px; */
	/* min-width: 150px; */
	/* max-width: 200px; */
}

.div1{
	/* flex-grow: 1; */
}

.div2, .div3, .div4{
}

/* Pretty stuff */
.container{
	background-color: salmon;
}

.div1 {
	background-color: peru;
}

.div2 {
	background-color: lightseagreen;
}

.div3 {
	background-color: wheat;
}

.div4 {
	background-color: palegreen;
}

/* Pretty stuff */
body{
	font-size: 10pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}