/* Flexbox */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .div1 {
	flex-grow: 1;
}

.div2 {
	flex-grow: 1;
}

.div3 {
	flex-grow: 1;
}

.div4 {
	flex-grow: 1;
} */

/* Pretty stuff */

body {
	font-size: 10pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin:5px;
}

.container {
	background-color: salmon;
	height: 70vh;
	width: calc(100vw - 10px);
}

.container>div {
	padding: 10px;
	flex-basis: 100px;
}

.div1 {
	background-color: peru;
}

.div2 {
	background-color: purple;
}

.div3 {
	background-color: wheat;
}

.div4 {
	background-color: palegreen;
}